<main>
  {{#with car}}
    <h1>Delete</h1>
    <div class="form">
      <form action="/products/delete/{{_id}}" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" value="{{name}}" name="name" disabled />

        <label for="name">Description</label>
        <textarea
          id="name"
          name="description"
          disabled
        >{{description}}</textarea>

        <label for="image">ImageUrl</label>

        <input
          type="text"
          id="image"
          value="{{imageUrl}}"
          name="imageUrl"
          disabledF
        />

        <label for="price">Price</label>

        <input type="text" id="price" value="{{price}}" name="price" disabled />

        <input type="submit" value="Delete" />
      </form>
    </div>
  {{/with}}
</main>