<main>
  {{#with car}}
    <h1>{{name}}</h1>
    <img class="cube" src={{imageUrl}} />
    <div class="details">
      <p><span>Description:</span>
        {{description}}
      </p>
      <p><span>Price:</span> {{price}}</p>
      <a class="btn" href="/">Back</a>
      <a class="btn" href="/products/delete/{{_id}}">Delete</a>
      <a class="btn" href="/products/edit/{{_id}}">Edit</a>
      <a class="btn" href="/products/attach/{{_id}}">Attach Accessory</a>
    </div>
  {{/with}}
  
  <h1>Accessory</h1>
  <div class="accessories">
  {{#each idArr}}
  {{> accessoryPreview}}
  {{else}}
    <h3 class="italic">This vehicle has no accessories yet...</h3>
  {{/each}}
  </div>
</main>