<main>
  {{#with car}}
    <h1>{{name}}</h1>
    <img class="cube" src={{imageUrl}} />
    <div class="details">
      <p><span>Description:</span>
        {{description}}
      </p>
      <p><span>Price:</span> {{price}}</p>
      <a class="btn" href="/">Back</a>
      <a class="btn" href="/products/delete/{{_id}}">Delete</a>
      <a class="btn" href="/products/edit/{{_id}}">Edit</a>
      <a class="btn" href="/products/attach/{{_id}}">Attach Accessory</a>
    </div>
    <h1>Accessory</h1>
    <div class="accessories">
      <div class="accessory">
        <img src="" alt="stickerName" />
        <h3>Accessory Name</h3>
        <p>Accessory Description</p>
      </div>
      <div class="accessory">
        <img src="" alt="stickerName" />
        <h3>Accessory Name</h3>
        <p>Accessory Description</p>
      </div>
      <div class="accessory">
        <img src="" alt="stickerName" />
        <h3>Accessory Name</h3>
        <p>Accessory Description</p>
      </div>
      <h3 class="italic">This cube has no accessories yet...</h3>
    </div>
  {{/with}}
</main>